*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

body{
    font-family: sans-serif;
    margin: 0;
}


/* HEADER */

header{
    display: flex;
    height: 100px;
    background-color: lightgreen;
    justify-content: space-between ;
    align-items: center;
    padding: 10px;
}

.logo img{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.titulo-header{
    text-decoration: none;
    color: black;
}

.redes-header a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding-right: 10px;
    transition: all 300ms ease;
}

.redes-header a:hover{
    color: aqua;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
        height: auto;
    }
    .titulo-header{
        padding-top: 15px;
        padding-bottom: 5px;
    }
}

/*MAIN NOSOTROS*/

.container {
    background-color: darkgreen;
    width: 100%;
    max-width: 100%;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container .content{
    grid-column: span 3;
    background-color: rgb(77, 75, 75);
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
}

.content .article{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-top: 5px;
    color: white;
}

.content .article h1 {
    padding-bottom: 20px;
    text-align: center;
}

.content .article p{
    text-align: center;
}


.container .sidebar{
    grid-column: span 2;
    background-color: rgb(77, 75, 75);;
    border: 2px solid black;
    color: white;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img {
    width: 80%;
    margin-top: 5px;
    display: flex;
    margin-left: 10%;
}

.container .sidebar p {
    text-align: center;
    padding-top: 15px;
}

@media screen and (max-width: 700px) {
    .container .content {
        grid-column: 1/-1;
    }

    .container .sidebar {
        grid-column: 1/-1;
    }
    
}

/* PRODUCTOS */

.container-productos {
    background-color: darkgreen;
    width: 100%;
    max-width: 100%;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 2fr);
}

.content-productos {
    grid-column: span 1;
    background-color: rgb(77, 75, 75);
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.container-productos .content-productos h3 {
    color: white;
    padding-bottom: 20px;
}

.container-productos .content-productos p {
    color: white;
    padding-top: 20px;
}

@media screen and (max-width: 1500px) {
   /* .container-productos .content-productos {
        grid-column: 1/-1;
    }*/
    .content-productos {
        grid-column: span 2;
    }
}

@media screen and (max-width: 700px) {
    /* .container-productos .content-productos {
         grid-column: 1/-1;
     }*/
     .content-productos {
         grid-column: span 5;
     }
}


/* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: lightgreen;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    height: 150px;
    width: 150px;
}

.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
}

.pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    background-color: rgb(151, 211, 136);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: rgb(151, 211, 136) ;
    padding: 15px 10px;
    text-align: center;   
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media (max-width: 700px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
    
/*TERMINA FOOTER*/

/* CONTACTO */

.contacto {
    /*background-color: yellow;*/
    padding: 25px;
  }

/*TERMINA CONTACTO*/

/* INDEX */

.ver_mas2 {
    cursor: pointer;
    border: 0px solid #da8b24;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #da8b24;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.ver_mas {
    border: 1px solid #ffffff; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: transparent; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    font-weight: bold;
    border-radius: 50px; /*bordes redondos*/
    height: 40px;
    width: 200px;
    }

.regala_vida {
    font-size:600%;
    letter-spacing: 4px;
    color: #ffffff;
}
/* TERMINA INDEX */